@import url("ManageUser.css");

:root {
  --black: #242C34;
  --white: #EEEBD1;
  --beige: #DAD1B1;
  --green: #678438;
  --darkgreen: #445827;
}

.user-container {
  padding: 1rem;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--black);
}

.user-accordian {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordian-control {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  text-align: left;
}

.accordian-panel {
  display: none;
  height: 500px;
  overflow-y: scroll;
  padding: 1rem;
  background-color: var(--beige);
  flex-direction: column;
}

.user-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--black)
}

.user-detail:not(:last-child) {
  margin-bottom: 1rem;
}

.user-top {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  color: var(--white)
}

.user-avatar {
  height: 75px;
  width: 75px;
}

.user-avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-bottom {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .accordian-panel {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-between;
  }

  .user-detail {
    height: fit-content;
    max-width: 300px;
  }

  .user-detail:last-child,
  .user-detail:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .user-container {
    padding: 3rem;
    padding-top: 9rem;
    gap: 3rem;
  }

  .accordian-panel {
    justify-content: initial;
    gap: 0.75rem;
  }

  .user-detail {
    max-width: 250px;
  }

  .user-bottom {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  .user-detail {
    max-width: 275px;
  }
}