@import url("Profile.css");

:root {
  --black: #242C34;
  --white: #EEEBD1;
  --beige: #DAD1B1;
  --green: #678438;
  --darkgreen: #445827;
}

.profile-container {
  padding: 1rem;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--black);
}

.avatar-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.avatar-wrapper {
  width: 150px;
  height: 150px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-detail {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}

.avatar-cover {
  display: none;
}

.profile-detail-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.function-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.function-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scroll-container {
  height: 400px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--beige);
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wine-wish {
  margin: 0 1rem;
  padding: 1rem;
  color: var(--beige) !important;
  background-color: var(--black);
}

a:visited.wine-wish {
  color: var(--beige);
}

a:hover.wine-wish {
  color: var(--green) !important;
}

.wine-cart,
.order-history,
.review {
  margin: 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--beige);
  background-color: var(--black);
}

.scroll-wrapper .input-submit {
  margin-right: 1rem;
  width: 40%;
  max-width: 130px;
  align-self: flex-end;
}

.cart-content .input-submit {
  width: 40%;
  max-width: 130px;
  align-self: flex-end;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-end;
}

.wishlist-wrapper,
.wine-wrapper,
.order-wrapper,
.review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scroll-wrapper .wishlist-wrapper:last-of-type,
.scroll-wrapper .wine-wrapper:last-of-type,
.scroll-wrapper .order-wrapper:last-of-type,
.scroll-wrapper .review-wrapper:last-of-type {
  margin-bottom: 1rem;
}

.scroll-wrapper hr {
  border: 1px solid var(--darkgreen);
  margin: 0.25rem 3rem;
}

.scroll-wrapper hr:last-child {
  display: none;
}

.wine-wish:first-child,
.wine-cart:first-child,
.order-history:first-child,
.review:first-child {
  margin-top: 1rem;
}

.wine-wish:last-child,
.wine-cart:last-child,
.order-history:last-child,
.review:last-child {
  margin-bottom: 1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242C3480;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--white);
  margin: auto;
  padding: 2rem;
  width: 75%;
  height: 75%;
  max-width: 500px;
  animation: fade 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-wrapper {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-detail {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.admin-function-container {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.admin-function-container a {
  background-color: #242C3480;
  padding: 0.5rem;
}

.admin-function-container a svg {
  display: flex;
  align-self: center;
  transition: 0.25s ease;
}

.admin-function-container a:hover svg {
  color: var(--beige);
}

.admin-function-container:hover .admin-function {
  display: flex;
  animation: fade 0.5s ease;
}

.admin-function {
  padding: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  background-color: #242C3480;
}

@keyframes fade {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media only screen and (min-width: 1024px) {
  .profile-container {
    padding: 3rem;
    padding-top: 9rem;
    gap: 3rem;
  }

  .avatar-section {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  .avatar-wrapper {
    width: 200px;
    height: 200px;
  }

  .avatar-detail {
    align-self: flex-end;
    align-items: flex-start;
  }

  .avatar-cover {
    display: block;
    width: 50%;
    height: 200px;
  }

  .avatar-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-detail-section {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }

  .detail {
    width: 30%;
    align-items: flex-start;
  }

  .detail:nth-child(1) {
    order: 1;
  }

  .detail:nth-child(2) {
    order: 2;
  }

  .detail:nth-child(5) {
    order: 3;
  }

  .detail:nth-child(4) {
    order: 4;
    width: 100%;
  }

  .detail:nth-child(3) {
    order: 5;
    width: 100%;
  }

  .profile-detail-section .input-submit {
    order: 6
  }

  .function-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
  }

  .short {
    width: 30%;
  }

  .long {
    width: 65%;
  }
}

@media only screen and (min-width: 1440px) {
  .avatar-detail {
    align-self: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
  }
}