@import url("Review.css");

:root {
  --black: #242C34;
  --white: #EEEBD1;
  --beige: #DAD1B1;
  --green: #678438;
  --darkgreen: #445827;
}

.review-container {
  padding: 1rem;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--black);
}

.review-container h1 {
  text-align: center;
}

.image-wrapper {
  height: 200px;
  width: 100%;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.review-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.rate-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.rate-content p {
  font-weight: bold;
  font-size: 1.5rem;
}

.rate {
  height: 50px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 2rem;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 2rem;
  color: #ccc;
}

.rate:not(:checked) > label:before {
  content: '★ ';
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

#RateButton {
  margin-top: 1rem;
}

@media only screen and (min-width: 1024px) {
  .review-container {
    padding: 3rem;
    padding-top: 9rem;
    gap: 1rem;
  }

  .review-content {
    flex-direction: row;
    gap: 5rem;
  }

  .image-wrapper {
    height: 100%;
    width: 275px;
  }

  .rate-content {
    align-items: flex-start;
  }
}
